img{
	width:30%;
	float: left;
	margin:1.66%;
}
h1{
	font-family: 'Kurale';
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: bold;
	font-transform:uppercase;
	border-bottom: 3px solid #FFFFFF;
	padding-bottom: 20px;
	width: 30%
}